{{define "Create-Item"}}
<!-- Create Detail Form -->
<div class="w3-container">
    <div id="create-item-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="top:50px ;max-width: 600px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Criar novo item da refeição</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('create-item-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container">
                <label class="w3-label">Meus Itens Favoritos</label>
				<script>
					var favitems_ar = [];
					var n = 0;
				</script>	
	            <select class="w3-input" onchange="preencherItemFavorito(this.value)" id="favItem-create">
					<option value=""></option>
					{{range $index, $favItem := .FavoriteItems }}
	                <option value="{{$favItem.Id}}">
						{{$favItem.FoodName}} ( {{$favItem.QtdMedida}} Medidas )
					</option>
					<script>
						n++;
						favitems_ar [n] = "{{$favItem.Id}}#{{$favItem.FoodId}}#{{$favItem.FoodName}}#{{$favItem.MealTypeId}}#{{$favItem.MealTypeName}}#{{$favItem.QtdMedida}}#{{$favItem.Qtd}}#{{$favItem.AuthorId}}";
					</script>
	            	{{end}}
	            </select>
                <label class="w3-label">Alimento</label>
				<script>
					var ar = [];
					var i = 0;
				</script>					
	            <select class="w3-input" onchange="changeLabelMeasure(this); resetFields('create');" id="alimento-create">
					<option value=""></option>
					{{range $index, $food := .Foods }}
	                <option value="{{$food.Id}}">
						{{$food.Name}}
					</option>
					<script>
						i++;
						ar[i] = "{{$food.Id}}#{{$food.Measure}}#{{$food.Qtd}}#{{$food.Cho}}#{{$food.Kcal}}#{{$food.Name}}";
					</script>
	            	{{end}}
	            </select>
                <label class="w3-label" id="labelMeasure">Quantidade de Medida Usual</label>
                <input class="w3-input" type="number" id="qtdMedida-create" value="" onblur="regraDeTresMedida(this,'create')">
                <label class="w3-label">Quantidade em g ou ml</label>
                <input class="w3-input" type="number" id="qtd-create" value="" onblur="regraDeTresQtd(this,'create')">
				<label class="w3-label">CHO</label>
                <input class="w3-input" id="cho-create" type="number" name="CHO" value="" readonly="readonly" disabled="disabled">
				<label class="w3-label">Kcal</label>
                <input class="w3-input" id="kcal-create" type="number" name="Kcal" value="" readonly="readonly" disabled="disabled">
                <button 
					class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" 
					type="button"
					onclick="criarItem()"
					>Criar
				</button>
            </form>
        </div>
    </div>
</div>
{{end}}