{{define "List-Foods"}}
<!-- List Foods -->
<div id="main" class="w3-row-padding">
		<header class="w3-container w3-center w3-teal">
		    <div class="aria">
				<div style="margin-top: 6px;text-align: left;z-index:1">
		    		<a style="font-size:28px;cursor:pointer" onclick="navGadget()">
						&#9776; {{.AppName}}
		    		</a>
				</div>
				<div style="text-align: center;margin: auto;position:absolute;width:100%;z-index:0">
				    <h3>{{.Title}}</h3>
				</div>
				<div style="margin-top: 10px;text-align: right;z-index:1">
					{{$allowed := (call .LoggedUser.HasPermission "createFood")}}
					{{.LoggedUser.User.Name}}
					{{if $allowed}}
					    <a href="#" onclick="setTime();document.getElementById('create-form').style.display='block'">
							<i class="icon ion-ios-plus-outline w3-xxlarge hoverbtn"></i>
					    </a>
					{{end}}
				    <a href="/logout">
						<i class="icon ion-log-out w3-xxlarge hoverbtn"></i>
				    </a>
				</div>
		    </div>
		</header>
        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable">
            <thead>
            <tr>
                <th>Ord</th>
                <th>Id</th>
                <th>Nome</th>
                <th>Medida Usual</th>
                <th>g ou ml</th>
                <th>CHO(g)</th>
                <th>Kcal</th>
				<th>Ações</th>
            </tr>
            </thead>
            <tbody>
            {{range $index, $food := .Foods}}
            <tr>
                <td>#{{$food.Order}}</td>
                <td>{{$food.Id}}</td>
                <td>{{$food.Name}}</td>
                <td>{{$food.MeasureName}}
					<input type="hidden" id="MeasureIdForUpdate" value="{{$food.MeasureId}}">
					<input type="hidden" id="MeasureForUpdate" value="{{$food.Measure}}">
				</td>
                <td>{{$food.Qtd}}</td>
                <td>{{$food.Cho}}</td>
                <td>{{$food.Kcal}}</td>
                <td>
                    <button class="w3-btn w3-teal" onclick="updatefood(this);">Editar</button>
                    <button class="w3-btn w3-red" onclick="deletefood(this)">Apagar</button>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}