<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/statics/ionicons/css/w3.css">
    <link rel="stylesheet" href="/statics/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="/statics/ionicons/css/ionicons.min.css">
    <title>Tabela de Alimentos</title>
    <style>
	    .hoverbtn:hover {
	        font-weight: bold;
	        opacity: 0.4;
	    }
	
	    a {
	        text-decoration: none;
	    }
		
		body {
		  font-family: "Lato", sans-serif;
		  transition: background-color .5s;
		}
		
		.sidenav {
		  height: 100%;
		  width: 0;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  background-color: #20B2AA;
		  overflow-x: hidden;
		  transition: 0.5s;
		  padding-top: 60px;
		}
		
		.sidenav a {
		  padding: 8px 8px 8px 32px;
		  text-decoration: none;
		  font-size: 25px;
		  color: rgb(0, 255, 255);
		  display: block;
		  transition: 0.3s;
		}
		
		.sidenav a:hover {
		  color: #f1f1f1;
		}
		
		.sidenav .closebtn {
		  position: absolute;
		  top: 0;
		  right: 25px;
		  font-size: 36px;
		  margin-left: 50px;
		}
		
		#main {
		  transition: margin-left .5s;
		  padding: 16px;
		}
		
		@media screen and (max-height: 450px) {
		  .sidenav {padding-top: 15px;}
		  .sidenav a {font-size: 18px;}
		}
</style>
<script>
	var opened = false;
	var item;
	var items = [];
	var contexto;
		
	function navGadget(){
		if(opened){
			closeNav();
			opened = false;
		} else {
			openNav();
			opened = true;
		}
	}
	
	function openNav() {
	  document.getElementById("mySidenav").style.width = "250px";
	  document.getElementById("main").style.marginLeft = "250px";
	  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
	}
	
	function closeNav() {
	  document.getElementById("mySidenav").style.width = "0";
	  document.getElementById("main").style.marginLeft= "0";
	  document.body.style.backgroundColor = "white";
	}
	
	function setTime(){
		var now = new Date();
		document.getElementById("DateForInsert").value= now.format('yyyy-mm-dd');
		dateFormat.masks.hammerTime = 'HH:MM';
		var vl = now.format("hammerTime");
		document.getElementById("StartAtForInsert").value= vl;
	}

var dateFormat = function () {
	var	token = /d{1,4}|m{1,4}|yy(?:yy)?|([HhMsTt])\1?|[LloSZ]|"[^"]*"|'[^']*'/g,
		timezone = /\b(?:[PMCEA][SDP]T|(?:Pacific|Mountain|Central|Eastern|Atlantic) (?:Standard|Daylight|Prevailing) Time|(?:GMT|UTC)(?:[-+]\d{4})?)\b/g,
		timezoneClip = /[^-+\dA-Z]/g,
		pad = function (val, len) {
			val = String(val);
			len = len || 2;
			while (val.length < len) val = "0" + val;
			return val;
		};

	// Regexes and supporting functions are cached through closure
	return function (date, mask, utc) {
		var dF = dateFormat;

		// You can't provide utc if you skip other args (use the "UTC:" mask prefix)
		if (arguments.length == 1 && Object.prototype.toString.call(date) == "[object String]" && !/\d/.test(date)) {
			mask = date;
			date = undefined;
		}

		// Passing date through Date applies Date.parse, if necessary
		date = date ? new Date(date) : new Date;
		if (isNaN(date)) throw SyntaxError("invalid date");

		mask = String(dF.masks[mask] || mask || dF.masks["default"]);

		// Allow setting the utc argument via the mask
		if (mask.slice(0, 4) == "UTC:") {
			mask = mask.slice(4);
			utc = true;
		}

		var	_ = utc ? "getUTC" : "get",
			d = date[_ + "Date"](),
			D = date[_ + "Day"](),
			m = date[_ + "Month"](),
			y = date[_ + "FullYear"](),
			H = date[_ + "Hours"](),
			M = date[_ + "Minutes"](),
			s = date[_ + "Seconds"](),
			L = date[_ + "Milliseconds"](),
			o = utc ? 0 : date.getTimezoneOffset(),
			flags = {
				d:    d,
				dd:   pad(d),
				ddd:  dF.i18n.dayNames[D],
				dddd: dF.i18n.dayNames[D + 7],
				m:    m + 1,
				mm:   pad(m + 1),
				mmm:  dF.i18n.monthNames[m],
				mmmm: dF.i18n.monthNames[m + 12],
				yy:   String(y).slice(2),
				yyyy: y,
				h:    H % 12 || 12,
				hh:   pad(H % 12 || 12),
				H:    H,
				HH:   pad(H),
				M:    M,
				MM:   pad(M),
				s:    s,
				ss:   pad(s),
				l:    pad(L, 3),
				L:    pad(L > 99 ? Math.round(L / 10) : L),
				t:    H < 12 ? "a"  : "p",
				tt:   H < 12 ? "am" : "pm",
				T:    H < 12 ? "A"  : "P",
				TT:   H < 12 ? "AM" : "PM",
				Z:    utc ? "UTC" : (String(date).match(timezone) || [""]).pop().replace(timezoneClip, ""),
				o:    (o > 0 ? "-" : "+") + pad(Math.floor(Math.abs(o) / 60) * 100 + Math.abs(o) % 60, 4),
				S:    ["th", "st", "nd", "rd"][d % 10 > 3 ? 0 : (d % 100 - d % 10 != 10) * d % 10]
			};

		return mask.replace(token, function ($0) {
			return $0 in flags ? flags[$0] : $0.slice(1, $0.length - 1);
		});
	};
}();

// Some common format strings
dateFormat.masks = {
	"default":      "ddd mmm dd yyyy HH:MM:ss",
	shortDate:      "m/d/yy",
	mediumDate:     "mmm d, yyyy",
	longDate:       "mmmm d, yyyy",
	fullDate:       "dddd, mmmm d, yyyy",
	shortTime:      "h:MM TT",
	mediumTime:     "h:MM:ss TT",
	longTime:       "h:MM:ss TT Z",
	isoDate:        "yyyy-mm-dd",
	isoTime:        "HH:MM:ss",
	isoDateTime:    "yyyy-mm-dd'T'HH:MM:ss",
	isoUtcDateTime: "UTC:yyyy-mm-dd'T'HH:MM:ss'Z'"
};

// Internationalization strings
dateFormat.i18n = {
	dayNames: [
		"Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat",
		"Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"
	],
	monthNames: [
		"Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec",
		"January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
	]
};

// For convenience...
Date.prototype.format = function (mask, utc) {
	return dateFormat(this, mask, utc);
};
</script>
</head>

<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="navGadget()">&times;</a>
  <a href="#">Sobre</a>
  <a href="/listMeals">Refeições</a>
  <a href="/listMealTypes">Tipos de Refeições</a>
  <a href="/listAlimentos">Alimentos</a>
  <a href="/listMeasures">Medidas Usuais</a>
</div>
<div id="main" class="w3-row-padding">
    <div class="w3-card-2">		
        <header class="w3-container w3-center w3-teal">
            <div class="w3-row">
                <div class="w3-col w3-text-left" style="position:absolute;z-index:1">
                    <div class="w3-left">
                        <a style="font-size:28px;cursor:pointer" onclick="navGadget()">
                            &#9776; diÁria
                        </a>
                    </div>
                </div>
                <div class="w3-half">
                    <h3 class="w3-right">Refeições</h3>
                </div>
                <div class="w3-half w3-text-right" style="position:relative;z-index:2">
                    <div class="w3-right">
                        <a href="#" onclick="setTime();document.getElementById('create-form').style.display='block'">
                            <i class="icon ion-ios-plus-outline w3-xxlarge hoverbtn"></i>
                        </a>
                        <a href="/logout">
                            <i class="icon ion-log-out w3-xxlarge hoverbtn"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable">
            <thead>
            <tr>
                <th>Id</th>
                <th>Tipo de Refeição</th>
                <th>Data</th>
                <th>Início</th>
                <th>Fim</th>
                <th>CHO</th>
                <th>Kcal</th>
                <th>Bolus</th>
				<th>Ações</th>
            </tr>
            </thead>
            <tbody>
			{{$auxData := ( index .Meals 0 ).CDate }}
            {{range $index, $meal := .Meals}}
				{{if or (eq $index 0) (ne $auxData $meal.CDate)}}
	            <tr>
	                <td colspan="7" bgcolor="lightgreen" style="font-size:1.2em;text-align:left">{{$meal.CDate}}</td>
            	</tr>
				{{$auxData = $meal.CDate }}
				{{end}}
	            <tr>
	                <td>{{$meal.Id}}<input type="hidden" value="{{$meal.MealTypeId}}"></td>
					<td>{{$meal.MealTypeName}}</td>
	                <td>{{$meal.CDate}}</td>
	                <td>{{$meal.CStartAt}}</td>
	                <td>{{$meal.CEndAt}}</td>
	                <td>{{$meal.Cho}}</td>
	                <td>{{$meal.Kcal}}</td>
	                <td>{{$meal.Bolus}}</td>
	                <td>
	                    <button class="w3-btn w3-teal" onclick="contexto='edit';updatemeal(this);">Editar</button>
	                    <button class="w3-btn w3-red" onclick="deletemeal(this)">Apagar</button>
	                </td>
	            </tr>
			{{end}}
            </tbody>
        </table>
    </div>
</div>

<!-- Create Meals -->
<div class="w3-container">
    <div id="create-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 800px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Criar nova refeição</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('create-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" action="/createMeal" method="post">
                <label class="w3-label">Tipo de Refeição</label>
				<br>	
	            <select name="MealTypeForInsert" id="MealTypeForInsert">
					<option value=""></option>
					{{range $index, $mealType := .MealTypes }}
		                <option value="{{$mealType.Id}}" {{if eq true $mealType.Selected}} selected="selected"{{end}}>
							{{$mealType.Name}}
						</option>
		            {{end}}
	            </select>
				<br>
				<br>
                <label class="w3-label">Dia</label>
                <input class="w3-input" type="date" id="DateForInsert" name="DateForInsert" value="">
                <label class="w3-label">Horário Inicial</label>
                <input class="w3-input" type="time" id="StartAtForInsert" name="StartAtForInsert" value="">
                <label class="w3-label">Horário de Término</label>
                <input class="w3-input" type="time" id="EndAtForInsert" name="EndAtForInsert" value="">
				<label class="w3-label">Bolus</label>
                <input class="w3-input" type="number" id="BolusForInsert" name="BolusForInsert" value="">
		        <header class="w3-container w3-center w3-teal">
		            <div class="w3-row">
		                <div class="w3-half">
		                    <h4 class="w3-right">Itens</h4>
		                </div>
		                <div class="w3-half w3-text-right" style="position:relative;z-index:2">
		                    <div class="w3-right">
		                        <a href="#" onclick="contexto='insert';document.getElementById('create-item-form').style.display='block'">
		                            <i class="icon ion-ios-plus-outline w3-xxlarge hoverbtn"></i>
		                        </a>
		                    </div>
		                </div>
		            </div>
		        </header>
		        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable" id="table-items-insert">
		            <thead>
		            <tr>
		                <th>Alimento</th>
		                <th>Quantidade</th>
		                <th>CHO</th>
		                <th>Kcal</th>
						<th>Ações</th>
		            </tr>
		            </thead>
		            <tbody>
		            </tbody>
		        </table>
                <button class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" type="submit">Criar</button>
            </form>
        </div>
    </div>
</div>


<!-- Edit Modals -->
<div class="w3-container">
    <div id="edit-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 800px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Editar refeição</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('edit-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" action="/updateMeal" method="post">
                <label class="w3-label">Tipo de Refeição</label>
				<br>	
				<input type="hidden" name="Id" id="MealIdForUpdate">
	            <select name="MealTypeForUpdate" id="MealTypeForUpdate">
					<option value=""></option>
					{{range $index, $mealType := .MealTypes }}
		                <option value="{{$mealType.Id}}">
							{{$mealType.Name}}
						</option>
		            {{end}}
	            </select>
				<br>
				<br>
                <label class="w3-label">Data</label>
                <input class="w3-input" type="date" id="DateForUpdate" name="DateForUpdate" value="">
                <label class="w3-label">Horário Inicial</label>
                <input class="w3-input" type="time" id="StartAtForUpdate" name="StartAtForUpdate" value="">
                <label class="w3-label">Horário de Término</label>
                <input class="w3-input" type="time" id="EndAtForUpdate" name="EndAtForUpdate" value="">
				<label class="w3-label">Bolus</label>
                <input class="w3-input" type="number" id="BolusForUpdate" name="BolusForUpdate" value="">
		        <header class="w3-container w3-center w3-teal">
		            <div class="w3-row">
		                <div class="w3-half">
		                    <h4 class="w3-right">Itens</h4>
		                </div>
		                <div class="w3-half w3-text-right" style="position:relative;z-index:2">
		                    <div class="w3-right">
		                        <a href="#" onclick="contexto='edit';document.getElementById('create-item-form').style.display='block'">
		                            <i class="icon ion-ios-plus-outline w3-xxlarge hoverbtn"></i>
		                        </a>
		                    </div>
		                </div>
		            </div>
		        </header>
		        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable" id="table-items-edit">
		            <thead>
		            <tr>
		                <th>Alimento</th>
		                <th>Quantidade</th>
		                <th>CHO</th>
		                <th>Kcal</th>
						<th>Ações</th>
		            </tr>
		            </thead>
		            <tbody>
		            </tbody>
		        </table>
                <button class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" type="submit">Salvar</button>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modals -->
<div class="w3-container">
    <div id="delete-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Tem certeza?</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('delete-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" action="/deleteMeal" method="post">
                <input type="hidden" name="Id" id="MealIdToDelete">
                <div class="w3-center">
                    <button class="w3-btn w3-red w3-margin-top w3-margin-bottom" type="submit">Apagar</button>
                    <button type="button" class="w3-btn w3-teal w3-margin-top w3-margin-bottom"
                            onclick="document.getElementById('delete-form').style.display='none'">Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Item Form -->
<div class="w3-container">
    <div id="delete-item-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px; top:50px">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Tem certeza?</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('delete-item-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container">
                <div class="w3-center">
                    <button class="w3-btn w3-red w3-margin-top w3-margin-bottom" type="button" onclick="deleteitem()">Apagar</button>
                    <button type="button" class="w3-btn w3-teal w3-margin-top w3-margin-bottom"
                            onclick="document.getElementById('delete-item-form').style.display='none'">Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Create Item -->
<div class="w3-container">
    <div id="create-item-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="top:50px ;max-width: 600px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Criar novo item da refeição</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('create-item-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container">
                <label class="w3-label">Alimento</label>
				<br>	
				<script>
					var ar = [];
				</script>					
	            <select onchange="changeLabelMeasure(this); resetFields('create');" id="alimento-create">
					<option value=""></option>
					{{range $index, $food := .Foods }}
	                <option value="{{$food.Id}}">
						{{$food.Name}}
					</option>
					<script>
						var i = "{{addOne $index}}";
						ar[i] = "{{$food.Id}}#{{$food.Measure}}#{{$food.Qtd}}#{{$food.Cho}}#{{$food.Kcal}}";
					</script>
	            	{{end}}
	            </select>
				<br>
				<br>
                <label class="w3-label" id="labelMeasure">Quantidade de Medida Usual</label>
                <input class="w3-input" type="number" id="qtdMedida-create" value="" onblur="regraDeTresMedida(this,'create')">
                <label class="w3-label">Quantidade em g ou ml</label>
                <input class="w3-input" type="number" id="qtd-create" value="" onblur="regraDeTresQtd(this,'create')">
				<label class="w3-label">CHO</label>
                <input class="w3-input" id="cho-create" type="number" name="CHO" value="" readonly="readonly" disabled="disabled">
				<label class="w3-label">Kcal</label>
                <input class="w3-input" id="kcal-create" type="number" name="Kcal" value="" readonly="readonly" disabled="disabled">
                <button 
					class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" 
					type="button"
					onclick="criarItem()"
					>Criar
				</button>
            </form>
        </div>
    </div>
</div>

<!-- Edit Item -->
<div class="w3-container">
    <div id="edit-item-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="top:50px ;max-width: 600px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Editar item da refeição</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('edit-item-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container">
				<input type="hidden" id="id-edit" value="">
				<input type="hidden" id="meal-id-edit" value="">
                <label class="w3-label">Alimento</label>
				<br>	
				<script>
					var ar = [];
				</script>					
	            <select onchange="changeLabelMeasure(this); resetFields('edit');" id="alimento-edit">
					<option value=""></option>
					{{range $index, $food := .Foods }}
	                <option value="{{$food.Id}}">
						{{$food.Name}}
					</option>
					<script>
						var i = "{{addOne $index}}";
						ar[i] = "{{$food.Id}}#{{$food.Measure}}#{{$food.Qtd}}#{{$food.Cho}}#{{$food.Kcal}}";
					</script>
	            	{{end}}
	            </select>
				<br>
				<br>
                <label class="w3-label" id="labelMeasure">Quantidade de Medida Usual</label>
                <input class="w3-input" type="number" id="qtdMedida-edit" value="" onblur="regraDeTresMedida(this,'edit')">
                <label class="w3-label">Quantidade em g ou ml</label>
                <input class="w3-input" type="number" id="qtd-edit" value="" onblur="regraDeTresQtd(this,'edit')">
				<label class="w3-label">CHO</label>
                <input class="w3-input" id="cho-edit" type="number" name="CHO" value="" readonly="readonly" disabled="disabled">
				<label class="w3-label">Kcal</label>
                <input class="w3-input" id="kcal-edit" type="number" name="Kcal" value="" readonly="readonly" disabled="disabled">
                <button 
					class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" 
					type="button"
					onclick="editarItem()"
					>Salvar
				</button>
                <input type="hidden" id="order-edit" value="" readonly="readonly" disabled="disabled">
            </form>
        </div>
    </div>
</div>


<script>

  function resetFields(form){
	document.getElementById('qtdMedida-'+form).value='';
	document.getElementById('qtd-'+form).value='';
	document.getElementById('cho-'+form).value='';
	document.getElementById('kcal-'+form).value='';
  }

  function updatemeal(e) { // alterado
    var editForm = document.getElementById('edit-form');
    editForm.style.display = 'block';
	alert(e.parentNode.parentNode.childNodes[3].innerText);
	var idMeal = e.parentNode.parentNode.childNodes[1].innerText;
	var mealTypeId = e.parentNode.parentNode.childNodes[3].childNodes[0].value;
	var date = e.parentNode.parentNode.childNodes[7].innerText;
	var startAt = e.parentNode.parentNode.childNodes[9].innerText;
	var endAt = e.parentNode.parentNode.childNodes[11].innerText;
	var bolus = e.parentNode.parentNode.childNodes[13].innerText;
	var sel = document.getElementById('MealTypeForUpdate');
	for(n=0;n<sel.options.length;n++){
		if(mealTypeId == sel.options[n].value){
			sel.options[n].selected = true;
			break;
		}
	}
	var dt = convertDate(date);
	document.getElementById('MealIdForUpdate').value=idMeal;
	document.getElementById('DateForUpdate').value= dt;
	document.getElementById('StartAtForUpdate').value=startAt;
	document.getElementById('EndAtForUpdate').value=endAt;
	document.getElementById('BolusForUpdate').value=bolus;
	loadItensByMealId(idMeal);
  }

	function convertDate(dt){
		var parts = dt.split("/");
		var dia = parts[0];
		var mes = parts[1];
		var ano = parts[2];
		return ano+"-"+mes+"-"+dia;
	}

	function loadItensByMealId(idMeal){
	    var xmlhttp;
	    xmlhttp=new XMLHttpRequest();
	    xmlhttp.onreadystatechange=function()
	    {
			if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				var itemsEdit = JSON.parse(xmlhttp.responseText);
				wipeRows("table-items-"+contexto)
				items = [];
				for(order = 0;order<itemsEdit.length;order++){
					items[order]=itemsEdit[order];
					addRow("table-items-"+contexto);
				}
			    return items;
			}
	    }
	    xmlhttp.open("GET","/updateMeal?idMeal="+idMeal,true);
	    xmlhttp.send();
	}

  function deletemeal(e) {
    var deleteForm = document.getElementById('delete-form');
    deleteForm.style.display = 'block';
    var mealId = e.parentNode.parentNode.childNodes[2].innerText; // alterado
    document.getElementById('MealIdToDelete').value = mealId;
  }

  function updateitem(e) {
	var editItemForm = document.getElementById('edit-item-form');
    editItemForm.style.display = 'block';
	var id = e.parentNode.parentNode.childNodes[0].childNodes[1].value;
	var mealId = document.getElementById('MealIdForUpdate').value;
	var foodId = e.parentNode.parentNode.childNodes[0].childNodes[2].value;
	var order = e.parentNode.parentNode.childNodes[0].childNodes[0].value;
	var qtd = e.parentNode.parentNode.childNodes[1].innerText;
	var cho = e.parentNode.parentNode.childNodes[2].innerText;
	var kcal = e.parentNode.parentNode.childNodes[3].innerText;
	// Atribuindo os valores de edit-item-form
	document.getElementById('id-edit').value=id;
	document.getElementById('meal-id-edit').value=mealId;
	var options = document.getElementById('alimento-edit').options;
	for(i=0;i<options.length;i++){
		if(options[i].value == foodId){
			options[i].selected = true;
			break;
		}	
	}
	document.getElementById('qtd-edit').value=qtd;
	document.getElementById('cho-edit').value=cho;
	document.getElementById('kcal-edit').value=kcal;
	document.getElementById('order-edit').value=order;
  }

  var item_tobe_deleted;

  function showDeleteItemForm(e){
	var deleteItemForm = document.getElementById('delete-item-form');
    deleteItemForm.style.display = 'block';
	item_tobe_deleted = e;
  }

  function deleteitem() {
	var order = item_tobe_deleted.parentNode.parentNode.childNodes[0].childNodes[0].value;
	var newItems = [];
	for(i=0;i<items.length;i++){
		if(i != order){
			newItems.push(items[i]);
		}
	}
	items = newItems;
	item_tobe_deleted.parentNode.parentNode.innerHTML = '';
	var deleteItemForm = document.getElementById('delete-item-form');
    deleteItemForm.style.display = 'none';
  }

	function changeLabelMeasure(e){
		var labelMeasure = document.getElementById('labelMeasure');
		var id = e.options[e.selectedIndex].value;
		medidaUsual = ar[id].split("#")[1];
		labelMeasure.innerText = "Quantidade de "+medidaUsual;
	}
	
	function regraDeTresQtd(e, form){
		var a = document.getElementById('alimento-'+form);
		var id = a.options[a.selectedIndex].value;
		var array = ar[id].split("#")
		var qtd = array[2];
		var cho = array[3];
		var kcal = array[4];
		var qtdInformada = e.value;
		var x = cho*qtdInformada/qtd;
		x = Math.round((x + Number.EPSILON) * 100) / 100
		var y = kcal*qtdInformada/qtd;
		y = Math.round((y + Number.EPSILON) * 100) / 100
		var cho = document.getElementById('cho-'+form);
		cho.value = x;
		var kcal = document.getElementById('kcal-'+form);
		kcal.value = y;
	}
	
	function regraDeTresMedida(e,form){
		var a = document.getElementById('alimento'+form);
		var id = a.options[a.selectedIndex].value;
		var array = ar[id].split("#")
		var qtd = 1;
		var cho = array[3];
		var kcal = array[4];
		var qtdInformada = e.value;
		var x = cho*qtdInformada/qtd;
		var y = kcal*qtdInformada/qtd;
		var choInput = document.getElementById('cho-'+form);
		x = Math.round((x + Number.EPSILON) * 100) / 100
		choInput.value = x;
		var kcalInput = document.getElementById('kcal-'+form);
		y = Math.round((y + Number.EPSILON) * 100) / 100
		kcalInput.value = y;
	}
	
	function criarItem(){
		var a = document.getElementById('alimento-create');
		var foodId = a.options[a.selectedIndex].value;
		var foodName = a.options[a.selectedIndex].text;
		var qtdMedida = document.getElementById('qtdMedida-create').value;
		var qtd = document.getElementById('qtd-create').value;
		var cho = document.getElementById('cho-create').value;
		var kcal = document.getElementById('kcal-create').value;
		var erros = '';
		if(foodId=='' || qtd == ''){
			if(foodId==''){
				erros += 'Falta preencher o alimento.\n';
			}
			if(qtd==''){
				erros += 'Falta preencher a quantidade.\n';
			}
			alert(erros);
			return;
		}
		item = new Item(items.length, "",foodId, foodName, qtdMedida, qtd, cho, kcal);
		items.push(item);
		addRow("table-items-"+contexto);
		limparCamposItemForm('create');
		document.getElementById('create-item-form').style.display='none';
	}
	
	function editarItem(){
		var a = document.getElementById('alimento-edit');
		var id = document.getElementById('id-edit').value;
		var mealid = document.getElementById('meal-id-edit').value;
		var foodid = a.options[a.selectedIndex].value;
		var alimento = a.options[a.selectedIndex].text;
		var qtdMedida = document.getElementById('qtdMedida-edit').value;
		var qtd = document.getElementById('qtd-edit').value;
		var cho = document.getElementById('cho-edit').value;
		var kcal = document.getElementById('kcal-edit').value;
		var order = document.getElementById('order-edit').value;
		var erros = '';
		if(foodid=='' || qtd == ''){
			if(foodid==''){
				erros += 'Falta preencher o alimento.\n';
			}
			if(qtd==''){
				erros += 'Falta preencher a quantidade.\n';
			}
			alert(erros);
			return;
		}
		item = new Item(id, mealid, foodid, alimento, qtdMedida, qtd, cho, kcal);
		items[order]=item;
		updateRow("table-items-"+contexto,order);
		limparCamposItemForm('edit');
		document.getElementById('edit-item-form').style.display='none';
	}
	
	function updateRow(tableID, order){
		let tableRef = document.getElementById(tableID);
		let rowNumber = 3+parseInt(order);
		let row = tableRef.childNodes[1].childNodes[rowNumber];
		let celula = row.childNodes[0];
		celula.innerText = items[order].foodName;
		var jsonItem = JSON.stringify(items[order]);
		jsonItem = jsonItem.split(',').join('#');
		jsonItem = jsonItem.split('"').join('');
		jsonItem = jsonItem.split('{').join('');
		jsonItem = jsonItem.split('}').join('');
		celula.innerHTML = '<input type="text" name="item'+order+'" value="'+jsonItem+'"/>'+celula.innerHTML;
		celula.innerHTML = '<input type="text" name="foodid" value="'+items[order].foodId+'"/>'+celula.innerHTML;
		celula.innerHTML = '<input type="text" name="id" value="'+items[order].id+'"/>'+celula.innerHTML;
		celula.innerHTML = '<input type="text" name="order" value="'+order+'"/>'+celula.innerHTML;
		row.childNodes[1].innerText = items[order].qtd;
		row.childNodes[2].innerText = items[order].cho;
		row.childNodes[3].innerText = items[order].kcal;
	}
	
	class Item {
	  constructor(id, mealId, foodId, foodName, qtdMeasure, qtd, cho, kcal) {
	    this.id = id;
		this.mealId = mealId;
		this.foodId = foodId;
	    this.foodName = foodName;
	    this.qtdMeasure = qtdMeasure;
	    this.qtd = qtd;
	    this.cho = cho;
	    this.kcal = kcal;
	  }
	}
	
	function limparCamposItemForm(form){
		var a = document.getElementById('alimento-'+form);
		a.options[a.selectedIndex].selected = false;
		document.getElementById('qtdMedida-'+form).value = "";
		document.getElementById('qtd-'+form).value = "";
		document.getElementById('cho-'+form).value = "";
		document.getElementById('kcal-'+form).value = "";
	}


function wipeRows(tableID) {
  	let tableRef = document.getElementById(tableID);
	for(i=0;i<items.length;i++){
		tableRef.deleteRow(1);
	}
}

function addRow(tableID) {
  	let tableRef = document.getElementById(tableID);
	let newRow = tableRef.insertRow(-1);
	order = items.length-1;
	item = items[order];
	// alimento
	let newCell = newRow.insertCell(0);
	let newText = document.createTextNode(item.foodName);
	var jsonItem = JSON.stringify(item);
	jsonItem = jsonItem.split(',').join('#');
	jsonItem = jsonItem.split('"').join('');
	jsonItem = jsonItem.split('{').join('');
	jsonItem = jsonItem.split('}').join('');
	newCell.appendChild(newText);
	newCell.innerHTML = '<input type="text" name="item'+item.id+'" value="'+jsonItem+'"/>'+newCell.innerHTML;
	newCell.innerHTML = '<input type="text" name="foodid" value="'+item.foodId+'"/>'+newCell.innerHTML;
	newCell.innerHTML = '<input type="text" name="id" value="'+item.id+'"/>'+newCell.innerHTML;
	newCell.innerHTML = '<input type="text" name="order" value="'+order+'"/>'+newCell.innerHTML;
	// qtd
	newCell = newRow.insertCell(1);
	newText = document.createTextNode(item.qtd);
	newCell.appendChild(newText);
	// cho
	newCell = newRow.insertCell(2);
	newText = document.createTextNode(item.cho);
	newCell.appendChild(newText);
	// kcal
	newCell = newRow.insertCell(3);
	newText = document.createTextNode(item.kcal);
	newCell.appendChild(newText);
	// Botões
	newCell = newRow.insertCell(4);
	// Botão Editar
	var btnEditar = document.createElement('input');
	btnEditar.type = "button";
	btnEditar.className = "w3-btn w3-teal";
	btnEditar.value = "Editar";
	btnEditar.onclick = function() {updateitem(btnEditar)};
	newCell.appendChild(btnEditar);
	// Botão Apagar
	var btnApagar = document.createElement('input');
	btnApagar.type = "button";
	btnApagar.className = "w3-btn w3-red";
	btnApagar.value = "Apagar";
	btnApagar.onclick = function() {showDeleteItemForm(btnApagar)};
	newCell.appendChild(btnApagar);
}
</script>
</body>
</html>