{{ define "Menu" }}

<div id="mySidenav" class="sidenav" style="background-color:white" >
	<center><img src="/statics/images/diaria.png" 
		alt="diÁria" 
		sytle="position: absolute; left: 50px;"
		width="160px">&nbsp;&nbsp;&nbsp;&nbsp;</center>
		<br>
  <a href="javascript:void(0)" class="closebtn" onclick="navGadget()">&times;</a>
  <a href="#">Sobre</a>
  {{if (call .LoggedUser.HasPermission "listMeals")}}
  <a href="/listarRefeicoes">Refeições</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listBonds")}}
  <a href="/listarLigacoes">Vínculos</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listMealTypes")}}
  <a href="/listarTipoRefeicao">Tipos de Refeições</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listFoods")}}
  <a href="/listarAlimentos">Alimentos</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listMeasures")}}
  <a href="/listarMedidasUsuais">Medidas Usuais</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listUsers")}}
  <a href="/users">Usuários</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listRoles")}}
  <a href="/roles">Papéis</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listFeatures")}}
  <a href="/features">Funcionalidades</a>
  {{end}}
</div>
{{end}}