{{ define "Menu" }}
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="navGadget()">&times;</a>
  <a href="#">Sobre</a>
  {{if (call .LoggedUser.HasPermission "listMyMeals")}}
  <a href="/listMyMeals">Minhas Refeições</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listBonds")}}
  <a href="/listBonds">Vínculos</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listBondsMeals")}}
  <a href="/listarRefeicoesMeusClientes">Refeições dos Clientes</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listMeals")}}
  <a href="/listarRefeicoes">Refeições</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listMealTypes")}}
  <a href="/listarTiposRefeicoes">Tipos de Refeições</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listFoods")}}
  <a href="/listarFoods">Alimentos</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listMyFoods")}}
  <a href="/listarMyFoods">Meus Alimentos</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listMeasures")}}
  <a href="/listarMedidasUsuais">Medidas Usuais</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listUsers")}}
  <a href="/users">Usuários</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listMyClients")}}
  <a href="/myClients">Meus Clientes</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listRoles")}}
  <a href="/roles">Papéis</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listFeatures")}}
  <a href="/features">Funcionalidades</a>
  {{end}}
</div>
{{end}}